@use "sass:map";
@use "../abstracts" as *;

// Body font-family
body {
  font-family: var(--ff-primary);
}

// Generating fluid-font for h1-h2 headings
@each $scale, $sizes in $type-scale {
  #{$scale} {
    @include fluid-font(
      320px,
      992px,
      map.get($sizes, "sm"),
      map.get($sizes, "lg")
    );
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

a {
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: rem(15);
}
// 16 33
// 15 17
// 45 12
// 14 8
// 35 8
// 24 7
// 20 6
// 64 3
// 26 3
// 17 2
// 22 1
// 21 1
