extends /core/_Layout

block content
	//- include /layout/Navigation
	include /layout/Masthead
	include /layout/Services
	include /layout/Solutions
	include /layout/Steps
	include /layout/Callback
	include /layout/Features
	include /layout/Comfort
	