@use "../abstracts/" as *;

.scheme {
  &__heading {
    margin-bottom: rem(25);
  }

  &__list {
    display: grid;
    place-items: center;
    gap: rem(30);

    @include larger-than(md) {
      place-items: start center;
      grid-template-columns: 1fr 1fr;
      gap: rem(50);
    }

    @include larger-than(lg) {
      place-items: start;
    }
  }

  &__item {
    width: 100%;
    position: relative;

    @include larger-than(lg) {
      max-width: rem(450);
      padding: rem(50) 0;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: {
        repeat: no-repeat;
        size: contain;
        position-y: center;
      }
    }

    &::after {
      @include larger-than(xl) {
        content: "";
        position: absolute;
        background: {
          repeat: no-repeat;
        }
      }
    }

    &:nth-child(1) {
      &::after {
        @include size(527, 78);
        left: rem(151);
      }
    }

    &:nth-child(2) {
      &::after {
        @include size(387, 51);
        left: rem(-237);
        bottom: rem(-40);
        transform: rotate(-4deg);
      }
    }

    &:nth-child(3) {
      &::after {
        @include size(220, 95);
        right: rem(-116);
        bottom: rem(-40);
        transform: rotate(4deg);
      }
    }

    &:nth-child(4) {
      &::after {
        @include size(587, 139);
        right: rem(110);
      }
    }
    &:nth-child(5) {
      &::after {
        @include size(337, 68);
        bottom: rem(-80);
        right: rem(-200);
      }
    }

    @for $af from 1 through 5 {
      @include larger-than(xl) {
        &:nth-child(#{$af}) {
          &::after {
            background-image: url(../img/path#{$af}.svg);
          }
        }
      }
    }

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        &::before {
          background-image: url(../img/sc#{$i}.svg);
        }
      }
    }

    &:nth-child(odd) {
      text-align: left;

      &::before {
        background-position-x: right;
      }
    }

    &:nth-child(even) {
      text-align: right;

      &::before {
        background-position-x: left;
      }

      @include larger-than(lg) {
        transform: translateY(#{rem(120)});
        margin-left: auto;
      }
    }

    &:last-child {
      text-align: center;

      &::before {
        background-position-x: center;
        transform: translateY(calc(100% - 2rem));
      }

      @include larger-than(md) {
        grid-column: span 2;
        padding: 0 0 rem(20);
        margin-bottom: 2rem;
      }

      @include larger-than(lg) {
        max-width: none;
        margin-top: rem(120);
      }
    }
  }

  &__caption {
    font-size: rem(24);
    font-weight: var(--fw-400);
    color: hsl(var(--clr-primary-200));
  }

  &__text {
    text-wrap: balance;
    font-size: 14px;
    color: hsl(var(--clr-primary-400));
  }
}
