@use "../abstracts/" as *;

.solutions {
  background: {
    image: url(../img/leaf-sm.svg);
    repeat: no-repeat;
    size: contain;
    position: bottom center;
  }

  @include larger-than(sm) {
    background-image: url(../img/leaf-lg.svg);
    background-size: cover;
  }

  &__heading {
    margin-bottom: rem(50);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(20);
    column-gap: rem(15);

    @include larger-than(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include larger-than(lg) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: rem(30);
      column-gap: rem(45);
    }
  }

  &__card {
    background-color: hsl(var(--clr-neutral-100));
    border-radius: rem(25);
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px hsla(30, 29%, 14%, 0.3);
  }

  &__img {
    position: relative;

    img {
      width: 100%;
      height: rem(92);
      object-fit: cover;
      object-position: center;
    }
  }

  &__price {
    position: absolute;
    left: 0;
    top: rem(15);
    background-color: hsla(127, 77%, 92%, 1);
    padding: rem(5) rem(15);
    border-top-right-radius: rem(10);
    border-bottom-right-radius: rem(10);
    font-size: rem(15);
    font-weight: var(--fw-600);
    color: hsl(var(--clr-primary-400));
  }

  &__caption {
    font-size: rem(14);
    color: hsl(var(--clr-primary-200));
    line-height: 1.4;
    padding: rem(15);
  }
}
