section.callback
	.container.callback__container
		header.callback__heading
			h2 Оставьте заявку и мы с вами свяжемся

		form.callback__form
			input(type="text" placeholder='Ваше имя').callback__input
			input(type="text" placeholder='Ваш телефон').callback__input.js-masked-phone

			button.btn.callback__btn Отправить