section.comfort
	.container.comfort__container
		.comfort__content
			header.comfort__heading
				h2 Комфорт и уют в любое время года

			
			.comfort__icons
				.comfort__icon
					img(src="img/c1.svg", alt="")
				.comfort__icon
					img(src="img/c2.svg", alt="")
				.comfort__icon
					img(src="img/c3.svg", alt="")
				.comfort__icon
					img(src="img/c4.svg", alt="")
				.comfort__icon
					img(src="img/c5.svg", alt="")
				.comfort__icon
					img(src="img/c6.svg", alt="")
			
			ul.comfort__list
				li.comfort__item Создание комфортных условий для жизни
				li.comfort__item Чистый, свежий, приточный воздух круглый год
				li.comfort__item Удаление не приятных запахов, избыточной влажности и накопившегося углекислого газа из помещений
				li.comfort__item Поддержание комфортной температуры воздуха зимой и летом

			p.comfort__text.text <strong>Pascsl Vent</strong> поможет улучшить ваше самочувствие и повысить работоспособность днем, а ночью подарит здоровый и крепкий сон. Это важно для тех, кто следит за своим здоровьем и здоровьем своих близких.

			.comfort__cta
				button.btn.comfort__btn.js-modal-trigger(data-modal='callback_form') Заполнить заявку
		
		.comfort__gallery
			
			.comfort__group
				figure.comfort__img
					picture
						source(srcset='img/ci1.jpeg' media='(min-width: 992px)')
						img(src="", alt="")

				
				figure.comfort__img.comfort__img--offset
					picture
						source(srcset='img/ci3.jpeg' media='(min-width: 992px)')
						img(src="", alt="")

			
			.comfort__group
				figure.comfort__img
					picture
						source(srcset='img/ci2.jpeg' media='(min-width: 992px)')
						img(src="", alt="")

				
				figure.comfort__img.comfort__img--small
					picture
						source(srcset='img/ci4.jpeg' media='(min-width: 992px)')
						img(src="", alt="")