section.features
	.container.features__container
		.features__content
			header.features__heading
				h2 Особенности о нас

				p.text Мы любим то, чем занимаемся – поэтому у нас индивидуальный подход к каждому человеку, креативные решения для проекта любой сложности и высокий уровень клиентского сервиса.

				p.text Именно поэтому нам доверяют сложнейшие задачи, рекомендуют нас и возвращаются вновь. Доверьте нам воплощение ваших самых изысканных и технологичных задач, и мы сделаем всё с высочайшим уровнем сервиса <strong>Pascal Vent.</strong>

				p.text <strong>Pascal Vent</strong> гарантирует сертифицированные современные системы, оборудование, качественные материалы и самые оптимальные решения под любой бюджет.

		.features__list
			.features__item
				.features__card
					h3.features__caption 
						span.features__number 10
						|  лет на рынке
					.features__text Работаем как единое целое

			.features__item
				.features__card
					h3.features__caption 
						span.features__number + 11 
						| лет стажа
					.features__text Опытные и обученые специалисты своего дела

			.features__item
				.features__card
					h3.features__caption 
						span.features__number + 470 
						| проектов
					.features__text Большое количество реализованных проектов

			.features__item
				.features__card
					h3.features__caption 
						span.features__number + 180 
						| клиентов
					.features__text Число счастливых клиентов за этот период