footer.footer
	.container.footer__container
		figure.footer__logo
			img(src="img/logo.svg", alt="")

		.footer__seo
			p.text.footer__text Компания "Pascal Vent" входит в число лучших специализированных организаций, с широким ассортиментом товаров и услуг, предназначенных для систем вентиляции и кондиционирования, предоставляющих высокий сервис и удобство обслуживания нашим клиентам.

			.footer__slogan.
				Чистый воздух вместе с Pascal Vent

		.footer__contacts
			h3.footer__caption Контакты

			address.footer__list
				a(href="").footer__item.footer__item--phone + 7 492 373 63 31
				a(href="").footer__item.footer__item--phone + 7 424 367 89 29
				a(href="").footer__item.footer__item--mail PascalVent@mail.ru

			address.footer__list
				.footer__item.footer__item--schedule Пн - Сб: 9:00 - 19:00 Вс: выходной
				.footer__item.footer__item--geo Московский регион, Москва ул. Плеханова, 28А

		.footer__callback
			h3.footer__caption Заполнить заявку
			form.callback__form
				input(type="text" placeholder='Ваше имя').callback__input
				input(type="text" placeholder='Ваш телефон').callback__input.js-masked-phone

				button.btn.callback__btn Отправить



