include /components/line

section.masthead
	.container.masthead__container
		include /layout/Top
		.masthead__content
			header.masthead__heading
				h1.masthead__title Чистый Воздух
					+line('90px', 'right')
					| Вместе с PASCAL VENT
				p.masthead__subtitle.text-primary-300 Проектирование, поставка и монтаж систем вентиляции и кондиционирования

			.masthead__contacts
				.masthead__location
					address.masthead__city
						a(href="").masthead__link.masthead__link--city Московский регион, Москва

				.masthead__phones
					address.masthead__phone
						a(href="").masthead__link.masthead__link--phone + 7 492 373 63 31
						a(href="").masthead__link.masthead__link--phone + 7 424 367 89 29

			.masthead__cta
				button.btn.btn--lg.masthead__btn Оставить заявку