include /components/arrow

section.portfolio#portfolio
	.container.portfolio__container
		header.portfolio__heading
			h2 Портфолио и процесс работы

			p.text.portfolio__text.
				Технические решения, принятые в рабочих чертежах, соответствуют требованиям экологических, санитарно-гигиенических, противопожарных и других норм и правил, и обеспечивают безопасную для жизни людей эксплуатацию объекта при соблюдении предусмотренных рабочими чертежами мероприятий.

	.portfolio__wrapper
		.swiper.js-slider.portfolio__slider
			.swiper-wrapper
				.swiper-slide
					.portfolio__item
						figure.portfolio__card
							img(src="img/sl1.jpeg", alt="")

							figcaption.portfolio__caption
								h3.portfolio__title Приточная вентиляция

								p.text.portfolio__desc Монтаж приточной вентиляции (объект в Прайм Парк)
						
						.portfolio__logo
							img(src="img/logo.svg", alt="")
				.swiper-slide
					.portfolio__item
						figure.portfolio__card
							img(src="img/sl2.jpeg", alt="")

							figcaption.portfolio__caption
								h3.portfolio__title Приточная вентиляция

								p.text.portfolio__desc Монтаж приточной вентиляции (объект в Прайм Парк)
						
						.portfolio__logo
							img(src="img/logo.svg", alt="")
				.swiper-slide
					.portfolio__item
						figure.portfolio__card
							img(src="img/sl3.jpg", alt="")

							figcaption.portfolio__caption
								h3.portfolio__title Канальные кондиционеры

								p.text.portfolio__desc Монтаж канальной вентиляции (объект в Прайм Парк)
						
						.portfolio__logo
							img(src="img/logo.svg", alt="")
				.swiper-slide
					.portfolio__item
						figure.portfolio__card
							img(src="img/sl4.jpg", alt="")

							figcaption.portfolio__caption
								h3.portfolio__title Квартирная вентиляция

								p.text.portfolio__desc Монтаж приточной вентиляции (объект в Прайм Парк)
						
						.portfolio__logo
							img(src="img/logo.svg", alt="")
				.swiper-slide
					.portfolio__item
						figure.portfolio__card
							img(src="img/sl5.jpg", alt="")

							figcaption.portfolio__caption
								h3.portfolio__title Промышленные кондиционеры

								p.text.portfolio__desc Монтаж приточной вентиляции (объект в Прайм Парк)
						
						.portfolio__logo
							img(src="img/logo.svg", alt="")
				.swiper-slide
					.portfolio__item
						figure.portfolio__card
							img(src="img/sl6.jpg", alt="")

							figcaption.portfolio__caption
								h3.portfolio__title Рекуперационные системы

								p.text.portfolio__desc Монтаж приточной вентиляции (объект в Прайм Парк)
						
						.portfolio__logo
							img(src="img/logo.svg", alt="")

			.portfolio__controls
				button.btn.btn--slider.btn--slider-prev
					+arrow()
				button.btn.btn--slider.btn--slider-next
					+arrow()
