section.scheme
	.container.scheme__container
		header.scheme__heading
			h2 Понятная и эффективная схема работы

		.scheme__content
			.scheme__list
				.scheme__item.scheme__item--1
					h3.scheme__caption Получение заявки
					p.text.scheme__text Заполните форму, укажите свои данные и отправьте нашим менеджерам в обработку
				.scheme__item.scheme__item--2
					h3.scheme__caption Консультация
					p.text.scheme__text После обработки Вашей заявки, мы связываемся с Вами, выявляем потребности и пожелания, а также проводим техническую консультацию
				.scheme__item.scheme__item--3
					h3.scheme__caption Выезд на объект
					p.text.scheme__text В назначенное время мы выезжаем на объект и согласовываем основные технические решения, обсуждаем техническое задание
				.scheme__item.scheme__item--4
					h3.scheme__caption Составляем График
					p.text.scheme__text На этом этапе мы составляем коммерческое предложение и занимаемся согласованием графика работ (проектирования, закупки оборудования и монтажа).
				.scheme__item.scheme__item--5
					h3.scheme__caption Договор
					p.text.scheme__text Мы заключаем с Вами договор и начинаем проектирование и согласование проекта
				.scheme__item.scheme__item--6
					h3.scheme__caption Поставка и монтаж
					p.text.scheme__text На этом этапе, происходит поставка всех материалов и начинается выполнение монтажных работ
				.scheme__item.scheme__item--7
					h3.scheme__caption Подписание акта выполненных работ