include /components/fan-icon
include /components/cond-icon


section.services#services
	.container.services__container
		header.services__heading
			h2.services__title Предоставляемые Услуги
				span.line.line--left(style='--line-width: 10rem')

		.services__description
			p.text При разработке проекта предложим техническое решение оптимальное по соотношению цены и качества, оно идеально впишется в ваш дизайн, а также будет учитывать все ваши пожелания.

			p.text Монтаж выполняется опытными бригадами с соблюдением всех действующих технических норм, правил безопасности и строго по согласованному проекту.

			p.text Одинаково эффективно выполняем проектирование и монтаж на объектах любой сложности – от небольшой квартиры, до объектов со сложными технологическими процессами на основе действующей нормативной документации.

		
		.services__services
			.services__inner
				.services__controls.js-controls
					button.js-tab-trigger(data-tab-trigger='1').services__btn.services__btn--fan.services__btn--active Система вентиляции
						+icon-fan()
					button.js-tab-trigger(data-tab-trigger='2').services__btn.services__btn--cond Кондиционирование
						+icon-cond()

				.services__tabs

					.services__content.services__content--current(data-tab='1')
						ul.services__list
							li.services__item Проектирование систем вентиляции любой сложности
							li.services__item Монтаж приточной вентиляции
							li.services__item Монтаж вытяжной вентиляции
							li.services__item Монтаж вентиляции с увлажнением воздуха
							li.services__item Монтаж вентиляции с рекуператором
							li.services__item Монтаж вентиляции с осушением для бассейна

						figure.services__image
							picture
								source(
									srcset='img/tab_bg-1-lg.jpg'
									media='(min-width: 768px)'
								)
								img(src="img/tab_bg-1.jpg", alt="")
					.services__content(data-tab='2')
						ul.services__list
							li.services__item Проектирование систем кондиционирования
							li.services__item Монтаж сплит-систем
							li.services__item Монтаж мульти сплит-систем
							li.services__item Монтаж VRV и VRF систем
							li.services__item Монтаж фанкойлов
							li.services__item Монтаж настенных, канальных и кассетных кондиционеров

						figure.services__image
							picture
								source(
									srcset='img/tab_bg-2.jpg'
									media='(min-width: 768px)'
								)
								img(src="img/tab_bg-2-sm.jpg", alt="")
