section.services 
	.container.services__container
		header.services__heading
			h2.services__title Предоставляемые Услуги
				span.line.line--left(style='--line-width: 10rem')

		.services__description
			p.text При разработке проекта предложим техническое решение оптимальное по соотношению цены и качества, оно идеально впишется в ваш дизайн, а также будет учитывать все ваши пожелания.

			p.text Монтаж выполняется опытными бригадами с соблюдением всех действующих технических норм, правил безопасности и строго по согласованному проекту.

			p.text Одинаково эффективно выполняем проектирование и монтаж на объектах любой сложности – от небольшой квартиры, до объектов со сложными технологическими процессами на основе действующей нормативной документации.

		
		.services__services
			.services__inner
				.services__controls
					button.services__btn Система вентиляции
					button.services__btn Кондиционирование

				.services__content
					ul.services__list
						li.services__item Проектирование систем вентиляции любой сложности
						li.services__item Монтаж приточной вентиляции
						li.services__item Монтаж вытяжной вентиляции
						li.services__item Монтаж вентиляции с увлажнением воздуха
						li.services__item Монтаж вентиляции с рекуператором
						li.services__item Монтаж вентиляции с осушением для бассейна

					figure.services__image
						picture
							source(
								srcset='img/tab_bg-1-lg.jpg'
								media='(min-width: 768px)'
							)
							img(src="img/tab_bg-1.jpg", alt="")
