section.solutions
	.container.solutions__container
		header.solutions__heading
			h2 Комплексное решение по монтажу и вентиляции под ключ

		.solutions__list
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100 000 ₽
					
					.solutions__caption.
						Квартиры и офисы

			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s2.jpeg", alt="Card 1")
						figcaption.solutions__price от 150 000 ₽
					
					.solutions__caption.
						Магазины и ТЦ
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s3.jpeg", alt="Card 1")
						figcaption.solutions__price от 100 000 ₽
					
					.solutions__caption.
						Фитнес центры
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s4.jpeg", alt="Card 1")
						figcaption.solutions__price от 100 000 ₽
					
					.solutions__caption.
						Бассейны
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s5.jpeg", alt="Card 1")
						figcaption.solutions__price от 200 000 ₽
					
					.solutions__caption.
						Загородные дома, коттеджи, таунхаусы
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s6.jpeg", alt="Card 1")
						figcaption.solutions__price от 200 000 ₽
					
					.solutions__caption.
						Рестораны, кафе, бары
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s7.jpeg", alt="Card 1")
						figcaption.solutions__price от 200 000 ₽
					
					.solutions__caption.
						Стоматологии, клиники
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s8.jpeg", alt="Card 1")
						figcaption.solutions__price от 100 000 ₽
					
					.solutions__caption.
						Салоны красоты, СПА