section.solutions
	.container.solutions__container
		header.solutions__heading
			h2 Комплексное решение по монтажу и вентиляции под ключ

		.solutions__list
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы

			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы
			.solutions__item
				.solutions__card
					figure.solutions__img
						img(src="img/s1.jpeg", alt="Card 1")
						figcaption.solutions__price от 100000Р
					
					.solutions__caption.
						Квартиры и офисы