section.steps#steps
	.container.steps__container
		header.steps__heading
			h2 3 Простых шага к очищению воздуха

		.steps__content
			h3.steps__title Кажется, это знак...

			ul.steps__list
				li.steps__item Получите скидку 5% на монтаж при заполнении анкеты на сайте
				li.steps__item Бесплатно сделаем проект и пусконаладку системы при заказе монтажа
				li.steps__item Кэшбек до 10% дизайнерам при передаче Клиента и заказе у нас проекта с монтажом!

		.steps__cards
			.steps__wrap
				.steps__card
					.steps__icon
						img(src="img/st1.svg", alt="")
					.steps__caption
						| Ваше желание

			.steps__wrap
				.steps__card
					.steps__icon
						img(src="img/st2.svg", alt="")
					.steps__caption
						| Заявка

			.steps__wrap
				.steps__card
					.steps__icon
						img(src="img/st3.svg", alt="")
					.steps__caption
						| Реализация