.top.js-top
	figure.top__logo
		a(href='').top__home
			img(src="img/logo.svg", alt="Pascal Vent")

	.top__mobile
		button.nav__btn.js-mobile

	nav.top__nav.nav
		ul.nav__list
			li.nav__item: a.nav__link(href="") О Нас 
			li.nav__item: a.nav__link(href="") Услуги 
			li.nav__item: a.nav__link(href="") Польза Продукта
			li.nav__item: a.nav__link(href="") Оборудование 
			li.nav__item: a.nav__link(href="") Этапы Работы 
			li.nav__item: a.nav__link(href="") Отзывы

	.top__callback
		button.btn.js-modal-trigger(data-modal='quick_form') Связаться